<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Liste de produits</div>
    <div class="panel-body">
      <button  class="btn btn-primary " (click)="onGetProducts()">Produits</button>
    </div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onChercher(f.value)">
        <div class="form-group">
          <label>Keyword</label>
          <input type="text" name="keyword" ngModel>
          <button type="submit" class="btn btn-primary">Chercher</button>
        </div>
      </form>
      <table *ngIf="produits" class="table table-striped">
        <tr>
          <th>ID</th><th>DESIGNATION</th><th>PRIX</th><th>QUANTITE</th>
        </tr>
        <tr *ngFor="let p of produits._embedded.produits">
          <td>{{p.id}}</td>
          <td>{{p.designation}}</td>
          <td>{{p.price|number:'0.2'}}</td>
          <td>{{p.quantite}}</td>
          <td><a class="btn btn-danger" (click)="onDeleteProduct(p)">Delete</a></td>
          <td><a class="btn btn-success" (click)="onEditProduct(p)">Edit</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
