<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Liste de produits</div>
    <div class="panel-body">
      <button class="btn btn-primary" (click)="onGetProducts()">Produits</button>
    </div>
    <div class="panel-body">
      <table *ngIf="produits" class="table table-striped">
        <tr>
          <th>ID</th><th>DESIGNATION</th><th>PRIX</th><th>QUANTITE</th>
        </tr>
        <tr *ngFor="let p of produits._embedded.produits">
          <td>{{p.id}}</td>
          <td>{{p.designation}}</td>
          <td>{{p.price|number:'0.2'}}</td>
          <td>{{p.quantite}}</td>
        </tr>
      </table>
      <ul>
        <li *ngFor=""></li>
      </ul>
    </div>
  </div>
</div>
